config CFS_BANDWIDTH_MI
	tristate "cfs bandwidth by xiaomi"
	default y

config MI_PERFMGR
	tristate "Frame Energy Aware Scheduling"
        default y
	help
	  More power saving while meeting performance

config MI_SPEED_TOUCH
	tristate "mi speed touch"
	depends on MIHW
        default y
	help
	  The case is used to monitor speed touch

config MI_DCVS_ARBI
        tristate "mi dcvs arbi"
        default y
        help
          The case is used to manager multi voter clients of dcvs
