
config MI_SPEED_TOUCH
	tristate "mi speed touch"
	depends on MIHW
	help
	  The case is used to monitor speed touch

config MI_DCVS_ARBI
        tristate "mi dcvs arbi"
        default n
        help
          The case is used to manager multi voter clients of dcvs

config MI_POWER_SAVE
    tristate "power save mode 2.0"
    default n
    help
      Power Save Mode 2.0

config MI_UNION_POWER
    tristate "union power load monitor"
    default n
    help
      The case is used to monitor load

config MI_SCHED
        tristate "schedule policy defined by xiaomi"
	depends on MIHW && MI_SCHED_WALT
        default n
        help
          This option can show package runtime info in sup/big/little core.

config MIGT
	tristate "mi game turbo"
	depends on MI_SCHED && SCHED_WALT && MIGT_WALT
	help
	  Improve game peformance and power.

config TURBO_SCHED
	tristate "mi turbo sched"
	depends on MIHW && MI_SCHED
	help
	  Tuning mi-scheduler policy



